@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Nunito';
    font-weight: bolder;
    width: 1200px;
    margin: 0 auto;
}

h1 , h2 {
  text-align: center; 
}

#div-masculina,
#div-feminina {
  display: grid;
  justify-content: center;
  grid: auto / 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  margin: 0 auto;
}

.jogador-div {
  display: flex;
  flex-direction: column;
  margin: 0 0.4em;
  text-align: center;
}

a {
  font-size: 28px;
  text-decoration: none;
  color: white;
}

#detalhes {
  margin: 0 auto;
  width: 50%;
}

#imagem {
  float: left;
  margin-right: 3em;
}

@media (max-width: 1200px) {
  
  body {
    width: fit-content;
  }
  
}

@media (max-width: 1042px) {

  body {
    width: fit-content;
  }

  #div-masculina,
  #div-feminina {
    grid: auto / 25% 25% 25% 25%;
  }

}

@media (max-width: 768px) {

  body {
    width: fit-content;
  }

  #div-masculina,
  #div-feminina {
    grid: auto / 50% 50%;
  }

}