@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Nunito';
    font-weight: 900;
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}

h1 , h2 {
  text-align: center; 
}

#div-masculina,
#div-feminina {
  display: grid;
  justify-content: center;
  grid: auto / 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  margin: 0 auto;
}

.jogador-div {
  display: flex;
  flex-direction: column;
  margin: 0 0.4em;
  text-align: center;
}

a {
  font-size: 28px;
  text-decoration: none;
  color: white;
}

#ancora:hover {
color: rgb(209, 209, 209);
}

.jogador-div:hover{
  transform: scale(1.05); 
  transition: transform 0.2s ease-in-out; 
}

#detalhes {
  margin: 0 auto;
  width: 50%;
}

#nome {
  font-size: 18px;
  margin: 0;
}

#imagem {
  float: left;
  margin-right: 3em;
  width: 290px;
}

@media (max-width: 1200px) {
  
  #detalhes {
    margin: 0 auto;
    width: 60%;
  }

  body {
    width: fit-content;
  }
  
}

@media (max-width: 1042px) {

  #detalhes {
    margin: 0 auto;
    width: 77%;
  }

  body {
    width: fit-content;
  }

  #div-masculina,
  #div-feminina {
    grid: auto / 25% 25% 25% 25%;
  }

}

@media (max-width: 768px) {

  body {
    text-align: center;
    font-size: 20px;
  }

  a {
    font-size: 34px;
  }

  .jogador-div {
    flex-direction: column; 
  }

  #nome {
    font-size: 26px;
    margin: 0;
  }

  #detalhes {
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    order: 1; 
  }

  #imagem {
    float: none; 
    margin-right: 0;
    width: 80%; 
    order: 2; 
  }

  body {
    width: fit-content;
  }

  #div-masculina,
  #div-feminina {
    grid: auto / 50% 50%;
  }

}

@media (max-width: 520px) {
  
  body {
    font-size: 14px;
  }

  #imagem {
    width: 100%;
  }

  #nome {
    font-size: 19px;
  }

  #detalhes {
    text-align: center;
    font-size: 16px;
  }

}
